<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
			
					<img src="https://s3-us-west-2.amazonaws.com/bexley-front-end/img/toplogo.gif"></img>
				
			</div>
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Home</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Services</a>
						</li>
						<li>
							<a href="#">Online services</a>
						</li>
						<li>
							<a href="#">General FAQs</a>
						</li>
						<li>
							<a href="#">A to Z</a>
						</li>
						<li>
							<a href="#">Contact us</a>
						</li>
						
					</ul>

					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> 
						<button type="submit" class="btn btn-default">
							Submit
						</button>
					</form>
				</div>
				
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active">
					<a href="#">Report it</a>
				</li>
				<li>
					<a href="#">Apply for it</a>
				</li>
				<li class="disabled">
					<a href="#">Find it</a>
				</li>
				<li class="disabled">
					<a href="#">Pay it</a>
				</li>
				<li class="disabled">
					<a href="#">Give feedback</a>
				</li>
			</ul>

		</div>
		<div class="col-md-10">
			<h2>
				Garden Waste Service
			</h2>
			<p>
				You can now pay for a garden waste collection service. 
			</p>

			<p>
				The service costs <strong>£33</strong> per year
			</p>

			<p>
				As part of the service you will recieve:
			</p>

			<ul>
				<li>
					A 240 litre brown bin
				</li>
				<li>
					25 fortnightly collections per year (collections are suspended over Christmas / New Year)
				</li>

			</ul>

			<p>
				Garden waste membership lasts for 12 months. Memberships start from the first Monday of the month following delivery of the new garden bin. Garden 'brown' bins are delivered to members approximately ten days after sign up.
			</p>

			<a href="https://bexleygov.firmstep.com/default.aspx/RenderForm/?ID=Qo52g2Lhaed&TestFillID=pcaMmPoXdzL" class="btn btn-primary" style="margin: 10px;">
				Sign up for a year
			</a>

			</br>

			<a href="https://bexleygov.firmstep.com/default.aspx/RenderForm/?ID=Qo52g2Lhaed&TestFillID=pcaMmPoXdzL" class="btn btn-primary" style="margin: 10px;">
				Sign up to a recuring yearly subscription
			</a>

			<h3>
				Full terms and conditions
			</h3>

			<img src="https://s3-us-west-2.amazonaws.com/bexley-front-end/img/pdficon.png" alt="pdf icon image" height="42" width="42">
			<a href="http://www.bexley.gov.uk/CHttpHandler.ashx?id=14644&p=0">For houses</a>

			</br>

			<img src="https://s3-us-west-2.amazonaws.com/bexley-front-end/img/pdficon.png" alt="pdf icon image" height="42" width="42">
			<a href="http://www.bexley.gov.uk/CHttpHandler.ashx?id=14874&p=0">for flats</a>

			<h3>
				What can be collected
			</h3>
			<ul>
				<li>
					Grass cutting
				</li>
				<li>
					Hedge cuttings
				</li>
				<li>
					Weeds
				</li>
				<li>
					Garden plants
				</li>
				<li>
					Flowers
				</li>
				<li>
					Dead leaves
				</li>
				<li>
					Twigs
				</li>
				<li>
					Fallen Fruit
				</li>
			</ul>

			<h3>
				What cannot be collected
			</h3>
			<ul>
				<li>
					Food
				</li>
				<li>
					Manure
				</li>
				<li>
					Soil, stones, gravel and rubble
				</li>
				<li>
					Fences, MDF or treated wood
				</li>
				<li>
					Plastic bags
				</li>
				<li>
					Dog Faeces
				</li>
				<li>
					Plastic plant pots
				</li>
				<li>
					Larger branches longer than 50cm or wider than 6cm in diameter
				</li>
			</ul>

			<h3>
				Cancelling your membership
			</h3>

			<p>
				You have 14 days from signing up to cancel your membership.
			</p>

			<p>
				You can cancel your membership by contacting the<a href="http://www.bexley.gov.uk/article/19019/Garden-Waste-team">garden waste team</a>. We will then arrange to collect your bin. 
			</p>

			<p>
				If you cancel after 14 calendar days from signing up we will not be able to issue you a refund. 
			</p>

		</div>
	</div>
</div>

<footer class="footer" style="background-color: grey;">
	<div class="container">
		<p class="text-muted" style="color: white;">London Borough of Bexley</p>
	</div>
</footer>